{% for user in users %}
<tr id="row_{{ user._id }}">
    <td class="text-left align-middle">{{ user.name }}</td>
    <td class="text-center align-middle">
        <form hx-post="{{ url_for('users.update_user') }}" hx-trigger="change delay:250ms" hx-swap="none"
            hx-target="this" id="updateUserForm_{{ user._id }}">
            <input type="hidden" name="user_id" value="{{ user._id }}">
            <input type="checkbox" name="permission" class="checkbox" {% if user.permission %} checked {% endif %} {% if
                not has_priviledge %} disabled {% endif %} id="permission_{{ user._id }}" value="on">
        </form>
    </td>
    <td class="text-right align-middle">
        {% if user.last_login != None %}
        {{ localize(user.last_login) }}
        {% else %}
        -
        {% endif %}
    </td>
    <td class="flex justify-center align-middle">
        <div class="flex flex-row gap-3">
            <div class="tooltip w-full" {% if has_priviledge %} data-tip="Usuń" {% endif %}>
                <form hx-post="{{ url_for('users.delete_user') }}" hx-swap="none" hx-target="this"
                    id="deleteUserForm_{{ user._id }}" hx-disabled-elt="find button" hx-indicator="#deleteUserForm_{{ user._id }} .inplace-indicator">
                    <input type="hidden" name="user_id" value="{{ user._id }}">
                    <button class="btn btn-error btn-soft w-full" {% if not has_priviledge %} disabled {% endif %}>
                        <div class="inplace-indicator"><span class="loading loading-spinner loading-xs"></span></div>
                        <span class="button-text">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24"
                                fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                stroke-linejoin="round" class="lucide lucide-trash-icon lucide-trash">
                                <path d="M19 6v14a2 2 0 0 1-2 2H7a2 2 0 0 1-2-2V6" />
                                <path d="M3 6h18" />
                                <path d="M8 6V4a2 2 0 0 1 2-2h4a2 2 0 0 1 2 2v2" />
                            </svg>
                        </span>
                    </button>
                </form>
            </div>
        </div>
    </td>
</tr>


{% endfor %}