<div class="toast z-50" id="toasts"></div>
<div class="flex flex-wrap flex-column lg:flex-row flex-row justify-center p-4 xl:p-12 gap-12">
    <div class="shadow-lg shadow-black rounded bg-base-300 border border-gray-700 w-full xl:w-[55%] h-full p-4">
        <div>
            <div class="overflow-x-auto overflow-y-auto max-h-[700px]">
                <div id="table-alerts" class="mb-3">
                </div>
                <table class="table w-full table-pin-rows">
                    <thead>
                        <tr>
                            <th class="w-[45%] text-left align-middle">Email</th>
                            <th class="w-[5%] text-center align-middle">Posiada uprawnienia</th>
                            <th class="w-[25%] text-right align-middle">Ostatnie logowanie</th>
                            <th class="w-[25%] text-center align-middle">Akcje</th>
                        </tr>
                    </thead>
                    <tbody id="tableContent">
                        {% include 'users/partials/table_content.html' %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="shadow-lg shadow-black rounded bg-base-300 border border-gray-700 w-full xl:w-[35%] h-full p-4">
        <h3 class="text-lg font-bold mb-4">Dodaj użytkownika</h3>
        <form hx-post="{{ url_for('users.create_user') }}" hx-target="#tableContent" id="createUserForm"
            hx-disabled-elt="find #createUserButton" hx-indicator="#addUserIndicator">
            <fieldset class="fieldset">
                <label class="input w-full">
                    <input class="" type="text" placeholder="nazwa użytkownika" name="name" required />
                    <span class="label">@ekonomik.gniezno.pl</span>
                </label>
                <p class="label">Nazwa musi być unikalna</p>
            </fieldset>
            <fieldset class="fieldset mt-4 mb-5">
                <label class="label">
                    <input type="checkbox" class="checkbox" name="permission" />
                    Posiada uprawnienia
                </label>
            </fieldset>
            <div class="tooltip w-full" data-tip="Dodaj">
                <button class="btn btn-primary w-full" id="createUserButton">
                    <div class="inplace-indicator" id="addUserIndicator"><span
                            class="loading loading-spinner loading-md"></span></div>
                    <span class="button-text"> <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                            viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
                            stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-plus-icon lucide-plus">
                            <path d="M5 12h14" />
                            <path d="M12 5v14" />
                        </svg></span>
                </button>
            </div>
        </form>
        <div class="divider"></div>
        <h3 class="text-lg font-bold mb-4">Globalny filtr użytkowników</h3>
        <form hx-post="{{ url_for('users.manage_global_filter_status') }}" hx-swap="none"
            hx-trigger="change delay:250ms">
            <fieldset>
                <label class="label">
                    Status filtra:
                    <label class="swap">
                        <input type="checkbox" id="filterCheckbox" name="is_active" {% if filter_status %} checked {%
                            endif %} />
                        <div class="swap-on">
                            <div class="badge badge-primary">Aktywny</div>
                        </div>
                        <div class="swap-off">
                            <div class="badge badge-error">Nieaktywny</div>
                        </div>
                    </label>
                </label>
            </fieldset>
        </form>
        <div class="collapse p-0 mt-3">
            <input type="checkbox" class="p-0" />
            <div class="collapse-title font-semibold px-0">Czym jest globalna filtracja?</div>
            <div class="collapse-content text-sm px-0">
                Filtracja to coś co jest super
            </div>
        </div>
    </div>
</div>

<dialog id="addUserModal" class="modal">
    <div class="modal-box">
        <form method="dialog">
            <button class="btn btn-sm btn-circle btn-ghost absolute right-2 top-2">✕</button>
        </form>
        <h3 class="text-lg font-bold">Dodaj użytkownika</h3>
        <div class="mt-5">
            <form hx-post="{{ url_for('users.create_user') }}" hx-target="#tableContent" id="createUserForm">
                <fieldset class="fieldset">
                    <label class="input min-w-[320px] w-full">
                        <input class="" type="text" placeholder="nazwa użytkownika" name="name" required />
                        <span class="label">@ekonomik.gniezno.pl</span>
                    </label>
                    <p class="label">Nazwa musi być unikalna</p>
                </fieldset>
                <fieldset class="fieldset mt-4 mb-5">
                    <label class="label">
                        <input type="checkbox" class="checkbox" name="permission" />
                        Posiada uprawnienia
                    </label>
                </fieldset>
                <div class="tooltip w-full" data-tip="Dodaj">
                    <button class="btn btn-primary w-full">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                            stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                            class="lucide lucide-save-icon lucide-save">
                            <path
                                d="M15.2 3a2 2 0 0 1 1.4.6l3.8 3.8a2 2 0 0 1 .6 1.4V19a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V5a2 2 0 0 1 2-2z" />
                            <path d="M17 21v-7a1 1 0 0 0-1-1H8a1 1 0 0 0-1 1v7" />
                            <path d="M7 3v4a1 1 0 0 0 1 1h7" />
                        </svg>
                    </button>
                </div>
            </form>
        </div>
    </div>
</dialog>