<div hx-swap-oob="beforeend:#alerts">
    <div role="alert" class="alert alert-soft alert-{{ tag }} mb-4 flex flex-col w-120" id="alert_{{ uuid }}">
        <div class="w-full flex items-center gap-2">
            <button class="btn btn-sm btn-{{ tag }} btn-soft btn-circle" aria-label="close alert">
                <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 shrink-0 stroke-current" fill="none"
                    viewBox="0 0 24 24">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                        d="M10 14l2-2m0 0l2-2m-2 2l-2-2m2 2l2 2m7-2a9 9 0 11-18 0 9 9 0 0118 0z" />
                </svg>
            </button>
            <span>{{ message }}</span>
        </div>
    </div>

    <script>
        (function () {
            const alertElement = document.getElementById("alert_{{ uuid }}");
            const button = alertElement.querySelector("button");
            button.addEventListener("click", function () {
                alertElement.remove();
            });
        })();
    </script>
</div>