<div hx-swap-oob="beforeend:{{ container }}">
    <div role="alert" class="alert alert-success alert-soft flex flex-col gap-2 p-2 mb-4 min-w-[324px]"
        id="alert_{{ uuid }}">
        <div class="flex items-center gap-2 w-full">
            <div class="p-2"><span class="text-base">{{ message }}</span></div>
        </div>

        <progress class="progress progress-success w-full h-[2px]" value="100" max="100"></progress>
        <script>
            (function () {
                const alertElement = document.getElementById("alert_{{ uuid }}");
                const progress = alertElement.querySelector("progress");
                const duration = {{ duration }};
            let start = Date.now();
            let remaining = duration;
            let timer = null;
            let paused = false;

            const animate = () => {
                if (paused) return;
                const elapsed = Date.now() - start;
                const percent = Math.max(100 - (elapsed / duration) * 100, 0);
                progress.value = percent;
                if (percent > 0) requestAnimationFrame(animate);
            };

            const removeAlert = () => {
                alertElement.remove();
            };

            const startTimer = () => {
                start = Date.now();
                paused = false;
                requestAnimationFrame(animate);
                timer = setTimeout(removeAlert, remaining);
            };

            const pauseTimer = () => {
                paused = true;
                clearTimeout(timer);
                remaining -= Date.now() - start;
                progress.value = 100;
            };

            alertElement.addEventListener("mouseenter", pauseTimer);
            alertElement.addEventListener("mouseleave", () => {
                remaining = duration; // reset czasu i animacji
                // progress.value = 100;
                startTimer();
            });

            startTimer();
        }) ();
        </script>
    </div>
</div>